{% extends 'shop_template.html' %}
{% block title %} <title>Восстановление пароля</title> {% endblock %}
{% block description %}
    <meta name="description" content="Восстановление пароля" />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="восстановление пароля" />
{% endblock %}
{% block content %}
<div id="article">
	<h2>Восстановление пароля</h2>
	<p>Если Вы указали верный e-mail, то инструкция по смене пароля направлена Вам на почту.
		При отсутствии письма проверьте папку спам.</p>
</div>
{% endblock %}